:root {
    --font-family-MONS: 'Montserrat', sans-serif;
    --font-family-COM: 'Cormorant', serif;
    --logo-color-1: #E8E4D9;
    --logo-color-2: #F8D34B;
    --logo-color-3: #FEE27F;
    --logo-color-4: #ECE5D1;
    --logo-color-5: #FDF8E8;
    --logo-color-6: #E25A29;
    --logo-color-7: #E89E35;
    --logo-color-8: #BF9060;
    --logo-color-8: #F7CC88;
    --logo-color-9: #E8E4D9;
    --logo-color-10: #ff90ee;
}

::selection {
    color: #fff;
    background-color: #E25A29;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ============================================================================================== */
/* ============================================================================================== */
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, var(--logo-color-6), var(--logo-color-2));
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.26) 0 3px 13px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, .12) 0 3px 13px 1px;
}

ul {
    list-style: none;
}

.landing__page {
    overflow: hidden;
    position: relative;
}

.block__box {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.bb__left {
    width: 65%;
    top: 0;
    left: 0;
    background: url(/images/couple-holding-hands.jpeg) center center/cover no-repeat;
}

.bb__right {
    width: 35%;
    top: 0;
    right: 0;
    background-color: var(--logo-color-5);
}

.navigation {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: var(--font-family-COM);
}

header h1 {
    font-size: 3rem;
    margin-left: 1rem;
    color: var(--logo-color-3);
}

.flex__boxer ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0.3rem 1.3rem;
}

nav ul li:first-child {
    margin-right: 2.5rem;
}

.content__area {
    display: flex;
    z-index: 5;
    align-items: center;
    height: 82vh;
}

.content__area__text {
    flex: 1;
    font-family: var(--font-family-MONS);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.content__area__image {
    flex: 1;
    position: relative;
}

.image__container {
    position: relative;

}

.image__box {
    position: relative;
    top: 50px;
    right: -20px;
    width: 85%;
}

.image__box img {
    width: 100%;
    height: 100%;
}

.cct__textarea {
    letter-spacing: 1px;
}

.cct__t-text {
    line-height: 4rem;
    font-size: 2em;
    font-weight: 500;
}

.not__rem {
    font-size: 4.5rem;
    color: var(--logo-color-5);
    font-family: var(--font-family-COM);
    margin: 0.5rem 0;
}

.cct__t-para {
    width: 300px;
    line-height: 2rem;
    margin: 1rem auto;
}

.shopify__link {
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    width: 200px;
    border: none;
    color: #FFFFFF;
    background-color: var(--logo-color-6);
    text-transform: capitalize;
}

.media__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.prormo__media ul {
    margin-left: 2rem;
}

.prormo__media ul li {
    margin: 0.2rem 0.8rem;
    font-size: 2rem;
}

.prormo__media ul li i {
    color: #FFFFFF;
}

.chat_with_us {
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 1rem 1.4rem;
    background-color: var(--logo-color-9);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.menu_icon {
    position: absolute;
    top: 30%;
    right: 2rem;
    z-index: 100;
    width: 23px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.menu_icon span {
    position: relative;
    display: block;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    height: 3px;
    width: 40px;
    background: #000000;
    margin: 8% 0;
}

/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
.col-md-6 {
    width: 70%;
}

#slider-text {
    padding-top: 40px;
    display: block;
}

#slider-text .col-md-6 {
    overflow: hidden;
}

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
}

#slider-text h2::after {
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}

#itemslider h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px auto 3px;
}

#itemslider h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 3px auto 2px;
}

#itemslider h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    ;
    font-size: 10px;
    margin: 2px auto 5px;
}

.carousel-inner {
    margin-bottom: 3rem;
}

#slider-control img {
    padding-top: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}

.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}

@media all and (min-width: 768px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {

    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -16.666%;
    }

    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 16.666%;
    }

    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {

    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.home-banner {
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.home-banner>h2 {
    font-size: 4rem;
    font-family: var(--montserrat-font);
    text-align: center;
    padding: 13rem;
    color: #fff;
}

.home-banner-2>h2 {
    color: rgb(255, 250, 180);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.801);
}

.home-banner-1 {
    background-image: url("/images/parallax-1.jpg");
}

.home-banner-2 {
    background-image: url("/images/parallax-2.jpg");
    background-position-y: 0rem;
    background-size: cover;
}

/* ===================================================== */
/* ===================================================== */

.product-box {
    width: 330px;
    margin: 0rem 2rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    display: flex;
}

.product-box>img {
    width: 150px;
}

.price-box {
    padding-left: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.6s ease-out;
}

.price-box:hover {
    background-color: var(--logo-color-3);
}

.price-box:hover .main-pd-btn {
    border: 2px solid var(--logo-color-6);
}

.price-box h3 {
    padding: 6px 0px;
    font-size: 1.7rem;
}

.price-box>p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-pd-btn {
    width: 100px;
    padding: 10px;
    border: 2px solid var(--logo-color-1);
    border-radius: 30px;
    background-color: var(--logo-color-1);
    margin: 4px 0px;
    transition: all 0.3s ease-out 0.1s;
    cursor: pointer;
}

.main-pd-btn:hover {
    background-color: var(--logo-color-6);
    color: white;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
.main-btn-box {
    background: #F8FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    margin: 5rem 0rem;
}

.bh2-out-bbtn {
    font-family: "Lato", sans-serif;
    color: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
}

.hb2-box-btn {
    width: auto;
    display: flex;
    flex-direction: column;
}

.hb2-btn {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 36px;
    position: relative;
    background-color: #fff;
}

.hb2-btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.hb2-btn .hb2-btn-txt {
    color: white;
    mix-blend-mode: difference;
}

.hb2-btn:hover::before {
    background: black;
    width: 100%;
}


.border-bttm {
    border-bottom: rgba(201, 201, 201, 0.966) 1px solid;
    margin: 2rem 5rem;
}


footer a {
    text-decoration: none;
    color: #111;
}

.lst ul {
    list-style-type: none;
}

.lst ul li a {
    color: #111;
    text-decoration: none;
    transition: color 0.3s 0.1s ease-out;
}

.lst ul li a:hover {
    color: var(--logo-color-6);
    text-decoration: none;
}

.usl,
.os {
    margin: 10px 0px;
}

.social-media ul {
    display: flex;
    align-items: center;
}

.social-media ul li {
    padding: 10px;
    color: #ECE5D1;
    border: 2px solid #111;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s 0.1s ease-out;
}

.social-media ul li:hover {
    border: 2px solid #E25A29;
}

.popular-keys {
    font-family: var(--spartan-font);
    font-weight: 500;
    padding: 2rem 0rem 2rem 2rem;
}

.popular-keys>h2 {
    font-family: var(--montserrat-font);
    letter-spacing: 3px;
    margin: 1rem 0rem;
}

.outer-pk {
    display: flex;
    border-bottom: 2px solid rgba(201, 201, 201, 0.966);
}


.pk a {
    text-decoration: none;
}

.pk a:hover {
    color: #E25A29;
}

#copywt {
    margin: 1.5rem 0rem;
    font-size: 2rem;
    text-align: center;
    font-family: var(--montserrat-font);
    letter-spacing: 4px;
}

@media (min-width: 100px) and (max-width: 1160px) {
    .product-box {
        width: 280px;
        margin: 0rem;
    }
}


@media (min-width: 100px) and (max-width: 950px) {
    .product-box>img {
        width: 120px;
    }
}

@media (min-width: 100px) and (max-width: 900px) {

    .product-box {
        width: 300px;
    }

    .main-pd-btn {
        width: 80px;
        padding: 5px;
        font-size: 1.1rem;
    }

    .price-box>h2 {
        font-size: 1.5rem;
    }

    .price-box>p {
        font-size: 1.2rem;
    }

}

@media (min-width: 100px) and (max-width: 900px) {
    .outer-pk {
        flex-wrap: wrap;
    }

    .home-banner-1 {
        background-position-x: -10rem;
    }

    .home-banner-2 {
        background-position-x: -10rem;
    }
}


@media (min-width: 100px) and (max-width: 660px) {
    .product-box {
        width: 250px;
    }

    .home-banner-1 {
        background-position-x: -20rem;
    }

    .home-banner-2 {
        background-position-x: -30rem;
    }
}

@media (min-width: 100px) and (max-width: 660px) {
    .online-shopping ul li a {
        font-size: 1.3rem;
    }

    .useful-links ul li a {
        font-size: 1.3rem;
    }

    .social-media ul li a {
        font-size: 1.2rem;
    }

    .social-media ul li {
        border: 0px;
        border-top: #00000041 2px solid;
    }
}

@media (min-width: 100px) and (max-width: 550px) {
    .main-pd-box {
        display: flex;
        overflow-y: auto;
        justify-content: flex-start;
        height: 220px;
    }

    .main-pd-box::-webkit-scrollbar {
        width: 3px;
    }

    .main-pd-box::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey;
        /* border-radius: 10px; */
    }

    .main-pd-box::-webkit-scrollbar-thumb {
        background: var(--logo-color-7);
        border-radius: 10px;
    }

    .product-box {
        margin: 0rem 2rem;
    }

    .price-box {
        width: 200px;
    }

    .home-banner {
        height: 270px;
    }

    .home-banner>h2 {
        font-size: 3rem;
        padding: 10rem;
    }

    .home-banner-1 {
        background-position-x: -25rem;
    }

    .home-banner-2 {
        background-position-x: -40rem;
    }

}


@media (min-width: 100px) and (max-width: 440px) {
    .lst {
        text-align: center;
    }

    .popular-keys {
        text-align: center;
    }

    .outer-pk {
        align-items: center;
        justify-content: flex-start;
    }
}

@media (min-width: 100px) and (max-width: 370px) {
    .home-banner-1 {
        background-position-x: -30rem;
    }

    .home-banner>h2 {
        padding: 7rem;
    }
}